@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
a,
li,
ul,
h2,
h2 {
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.btn {
  border: none;
  padding: 0.4em 0.8em;
  font-weight: bold;
}
button,
a {
  cursor: pointer;
}
body {
  height: 100vh;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
header {
  width: 100%;
  background: linear-gradient(to right, #cf0063 40%, #333333);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}
.navbar img {
  max-width: 20%;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar a {
  color: white;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  color: white;
}
.hero-section h2 {
  font-size: clamp(1rem, 10vw, 4rem);
  color: white;
}
.hero-section p {
  font-size: 1.3rem;
}
.hero-section > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-section button {
  align-self: start;
  color: #fff;
  background-color: #fc0a7e;
  border-radius: 10rem;
  font-size: 1.2rem;
}
nav ul li a {
  position: relative;
  display: block;
}
nav ul li a::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  border-radius: 6px;
  display: block;
  background-color: white;
  left: 0;
  position: absolute;
  transform-origin: left;
  transform: translateX(-100%);
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
  opacity: 0;
}
nav ul li:hover > a::after {
  transform: translateX(0%);
  opacity: 1;
  transform-origin: right;
}
.landing-section {
  background-color: #1b1b1b;
  text-align: center;
  color: white;
  padding: 2em;
}
.landing-section .heading-2 {
  padding: 1em;
  display: grid;
  gap: 1em;
}
.feature-section {
  max-width: 960px;
  margin: 0 auto;
}
.feature-section > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1em;
  padding: 1em;
}
.feature-section > div > div {
  display: grid;
  gap: 1rem;
  padding: 10px;
  margin-right: 1rem;
}
.feature-section h3 {
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
}
.feature-section h2 {
  font-size: clamp(1.2rem, 5vh, 2rem);
}

.feature-section img {
  max-width: 50%;
}
.pricing-panel {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.pricing-panel > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.pricing-panel h3 {
  font-size: 1.5rem;
}
.pricing-panel p {
  font-size: 0.9rem;
  font-weight: 500;
}
.qtys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1em;
  text-align: center;
  gap: 1rem;
}
.qtys h2 {
  font-size: 3rem;
}
.food-section {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}
.food-section > div {
  display: flex;
  align-items: center;
  padding-block-end: 1em;
  gap: 2rem;
  margin-top: 2em;
}
.food-section img {
  max-width: 100%;
}
footer {
  text-align: center;
  background-color: #1b1b1b;
  display: grid;
  color: #fff;
  gap: 1em;
}
.footer img {
  max-width: 20%;
}
.form-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
  margin-top: 1em;
}
.form-control input {
  width: 100%;
  border: none;
  padding: 1em;
}
input:focus {
  outline: none;
  border: none;
}
footer h2 {
  font-size: 2rem;
  margin: 1em 0;
}

.form-control button {
  background-color: #fc0a7e;
  padding: 1em;
  color: #fff;
  width: 100%;
}
.footer-form {
  padding: 1em;
  text-align: center;
  margin-top: 1em;
}
.footer .links {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  font-style: italic;
  padding: 1em;
}
.links a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
.open-btn,
.close-btn {
  display: none;
}
.footer-form P {
  font-size: 1rem;
  margin: 2em 0;
}
@media (max-width: 800px) {
  * {
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .heading-1 p {
    font-size: 1.1rem;
    padding: 10px;
  }
  .hero-section {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .hero-section button {
    align-self: center;
  }
  .hero-section h2 {
    font-size: clamp(1rem, 10vh, 2.5rem);
  }
  .food-section h2 {
    font-size: 1.2rem;
  }
  .feature-section img {
    max-width: 50%;
  }
  .feature-section h2 {
    font-size: 1.2rem;
  }
  .feature-section p {
    font-size: 0.9rem;
  }
  .feature-section h3 {
    font-size: 1rem;
  }
  .food-section p {
    font-size: 0.7rem;
  }
  .food-section img {
    width: 50%;
  }
  .pricing-panel {
    flex-direction: column;
  }
  .pricing-panel h3 {
    font-size: 1rem;
  }
  .pricing-panel p {
    font-size: 0.8rem;
  }
  button i {
    font-size: 2rem;
    color: black;
    background-color: #1b1b1b;
    color: white;
  }
  .open-btn,
  .close-btn {
    display: block;
  }
  i {
    font-size: 1.4rem;
    color: white;
  }
  nav {
    height: 35vh;
    z-index: 1;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    background-color: #fff;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 100%;
    transform: translateY(-100%);
    z-index: -1;
    padding: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .close-btn i {
    font-size: 2rem;
    position: absolute;

    right: 10%;
  }
  .close-btn {
    padding: 10px;
  }
  .close-btn i {
    color: black;
  }
  nav ul li {
    padding: 0.4em 0.8em;
    border-radius: 5px;
    width: 60%;
  }
  nav a {
    color: black !important;
    text-align: center;
    font-weight: bold;
    max-width: max-content;
    margin: 0 auto;
    font-style: italic;

    text-align: center;
    display: block;
  }
  nav.active {
    z-index: 1;
    transform: translateY(0);
  }
  nav ul li:hover a::after {
    background-color: #1b1b1b;
  }
.food-section>div{
flex-direction:column;
}
}
